{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 4,
  "tabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true
}