.button, .button:hover {
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    white-space: no-wrap;
    background-image: var(--link-border-none);
    background-color: var(--button-bg);
    padding: 8px 10px;
    border-radius: 6px;
    color: var(--button-text);
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover);
}
