.root {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--footer-border-top);
    padding: 40px 0;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.wrapper p {
    margin: 0;
}

.icons {
    display: flex;
    gap: 20px;
    align-content: center;
}
