.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.buttons {
    display: flex;
    width: min-content;
    gap: 8px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;
}

.heading {
    font-weight: 100;
}

.year {
    color: var(--light-gray);
    white-space: nowrap;
}

@media screen and (max-width: 600px){
    .buttons {
        width: 100%;
    }
}
