.root {
    position: sticky;
    top: 40px;
    user-select: none;
    border-right: 4px solid var(--tok-border-color);
}

.root ul {
    margin-left: 0;
}

.root > ul:first-child {
    width: 270px;
    border-right: 4px solid var(--tok-border-color);
    margin: 0;
}

.root ul li {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.root ul li:not(:has(a)){
    padding: 8px;
}


.root ul li ul li:where(:not(ul)):hover {
    background-color: var(--super-light-gray);
}

.root ul li ul li:where(:not(ul)) a {
    padding-left: 0;

}

.root ul li a {
    display: block;
    color: var(--text-color);
    width: 100%;
    padding: 8px 10px;
    background-image: var(--link-border-none);
}

.root > ul ~ li {
    font-weight: 600;
}

.active {
    background-color: var(--super-light-gray);
}

.chapter {
    position: relative;
    height: 100%;
    max-height: 40px;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.chapter:not(.active):hover {
    background-color: var(--super-light-gray);
}

.chapter .chapterIcon {
    position: absolute;
    right: 20px;
    top: 0;
    transform: translateY(35%);
    transition: transform .3s ease-in-out;
}

.chapter.active {
    max-height: 300px;
    background-color: transparent;
}

.chapter.active .chapterIcon {
    transform: translateY(35%) rotate(90deg);
}

.chapter ul {
    margin-top: 8px;
}

.chapter ul li {
    display: list-item;
    text-align: match-parent;
    list-style-type: disc;
    padding-left: 20px;
}

.mini {
    position: sticky;
    display: none;
    top: 40px;
    user-select: none;
    border-right: 4px solid var(--tok-border-color);
}

.openButton {
    padding: 10px;
    color: var(--header-burger-icon);
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.openButton:hover {
    background-color: var(--super-light-gray);
}


.closeButton {
    display: none;
    color: var(--header-burger-icon);
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.closeButton:hover {
    background-color: var(--super-light-gray);
}


@media screen and (max-width: 1135px){
    .root {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 70px;
        background-color: var(--toc-bg);
        height: 100vh;
        box-shadow: 9px 0 7px rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        transform: translateX(-120%);
        transition: transform .3s ease-in-out;
        min-width: 250px;
    }

    .root.opened {
        transform: translateX(0%);
    }

    .mini {
        display: block;
        height: 100vh;
        width: 60px;
    }

    .closeButton {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
    }

    .root > ul {
        margin-left: 0;
    }
}
