.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--header-border-top-color);
    border-bottom: 1px solid var(--header-border-bottom-color);
    position: relative;
    padding: 16px 0;
    user-select: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.header.hidden {
    display: none;
}

.navigation {
    justify-content: center;
}

.navigation > ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.navigation > ul li a {
    color: var(--header-link-color);
}

.navigation > ul li a {
    background-image: var(--link-border-header);
}

.navigation > ul li a.active {
    color: var(--link-color-disabled);
    pointer-events: none;
    cursor: pointer;
}

.logo, .navigation > ul li a {
    white-space: nowrap;
    background-image: var(--link-border-header);
}

.logo, .logo:visited {
    font-size: 26px;
    letter-spacing: -1px;
    font-weight: 100;
    color: var(--header-logo-color);
}

.logo:after {
    border-color: var(--header-logo-color);;
}

.menuIcon {
    display: none;
}

.closeIcon {
    display: none;
}

@media screen and (max-width: 900px) {
    .header {
        justify-content: space-between;
        gap: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navigation {
        position: fixed;
        z-index: 80;
        top: 0;
        left: 0;
        background-color: var(--navigation-mobile-background);
        height: 100vh;
        width: 100vw;
        transform: translateX(100%);
        transition: transform .4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .navigation.opened {
        display: block;
        transform: translateX(0);
    }

    .navigation > ul {
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        overflow-y: scroll;
        padding-right: 60px;
    }

    .navigation > ul li {
        text-align: right;
        opacity: 0;
        transform: translateY(-50%);
        transition: all .3s cubic-bezier(0.4, 0.01, 0.165, 0.99);

    }

    .navigation.opened > ul li {
        transform: translateY(0%);
        opacity: 1;
    }

    /* 10 - maximum links length */
    @for $i from 1 to 10 {
        .navigation.opened > ul li:nth-child( $i ) {
            transition-delay: calc( 0.1s*$i );
        }
    }

    .navigation > ul li a {
        font-size: 32px;
        text-align: center;
        color: var(--header-link-mobile-color);
    }

    .navigation.opened > ul li:has(a:active){
        opacity: 0.8;
        transition: all .2s ease;
        transform: scale(80%) translateX(12%);
    }

    .navigation > ul li a:after {
        border-color: var(--header-link-mobile-color);
    }

    .menuIcon {
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        color: var(--header-burger-icon);
    }

    .closeIcon {
        composes: menuIcon;
        position: fixed;
        top: 16px;
        right: 16px;
        color: var(--header-close-icon);
    }

    .menuIcon:active {
        color: var(--header-burger-icon-active);
    }

}


@media screen and (max-width: 380px) {
    .navigation > ul li a {
        font-size: 30px;
    }

    .navigation > ul {
        padding-right: 40px;
    }
}
