/* CSS reset https://raw.githubusercontent.com/elad2412/the-new-css-reset */
/*
Chrome, Edge: version 88+
FireFox: version 84+
Safari/iOS browsers: version 14+
Opera: version 75+
Samsung Browser: version 15+
*/
@import 'reset.css';
@import 'colors.css';
@import 'font.css';
@import '../node_modules/react-highlight-code/dist/style.css';


body {
    background-color: var(--page-background);
}

hr {
    border-top: 1px solid var(--super-light-gray);
}

.TL_word {
    font-family: Helvetica;
}
