.root {
    display: flex;
    justify-content: left;
    min-height: 80vh;
}

.root .left {
    width: 270px;
    background-color: var(--toc-bg);
    z-index: 60;
    transition: width .3s ease-in-out;
}

.root main {
    max-width: 800px;
    min-width: 800px;
}

.root .wrapper {
    display: flex;
    width: calc(100% - 550px);
    justify-content: center;
    padding-top: 30px;
    transition: width .3s ease-in-out;
}

.root h2:not(:first-child) {
    margin-top: 40px;
}

.root h3, .root h4 {
    font-weight: 300;
}

.root hr {
    border-top: 4px solid var(--green);
    margin: 16px 0;
}

.root code {
    white-space: pre-wrap;
}

@media screen and (max-width: 1390px) {
    .root main {
        min-width: 300px;
    }

    .root .wrapper {
        width: calc(100% - 250px)
    }
}


@media screen and (max-width: 1135px) {
    .root .left {
        width: min-content;
    }

    .root .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 910px) {
    .root .wrapper {
        width: calac(100vw - 60px);
        padding: 30px 20px;
    }
}
