.image {
    width: max-content;
    object-fit: contain;
    z-index: 20;
}

.left {
    float: left;
    margin-right: 25px;
    max-width: 60%;
}

.right {
    float: right;
    margin-left: 25px;
    max-width: 60%;
}


@media screen and (max-width: 830px) {
    .right, .left {
        float: unset;
        max-width: 90%;
        margin: 0;
    }
}
